# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Tuktoyaktuk,CA,69.4541,-133.0374,12.20,79,75,12.66,broken clouds
1,1,Pisco,PE,-13.7000,-76.2167,68.05,73,0,19.57,clear sky
2,2,Chama,CH,47.1821,8.4636,49.28,90,75,0.00,broken clouds
3,3,Rikitea,PF,-23.1203,-134.9692,73.04,90,100,26.89,moderate rain
4,4,Ondangwa,NaN,-17.9167,15.9500,82.54,37,88,12.35,overcast clouds
5,5,Ponta Do Sol,PT,32.6667,-17.1000,70.72,85,74,8.23,broken clouds
6,6,Hobart,AU,-42.8794,147.3294,54.27,66,75,2.30,broken clouds
7,7,Te Anau,NZ,-45.4167,167.7167,60.91,72,100,0.43,overcast clouds
8,8,Asau,RO,46.4333,26.4000,45.05,89,84,3.22,broken clouds
9,9,Mataura,NZ,-46.1927,168.8643,58.48,97,100,0.94,overcast clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = int(input("Please enter minimum temperature: "))

# Prompt the user to enter the maximum temperature criteria
max_temp = int(input("Please enter maximum temperature: "))

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] > min_temp) & (city_data_df["Max Temp"] < max_temp)]
                                    
# Display sample data
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Pisco,PE,-13.7000,-76.2167,68.05,73,0,19.57,clear sky
6,6,Hobart,AU,-42.8794,147.3294,54.27,66,75,2.30,broken clouds
7,7,Te Anau,NZ,-45.4167,167.7167,60.91,72,100,0.43,overcast clouds
9,9,Mataura,NZ,-46.1927,168.8643,58.48,97,100,0.94,overcast clouds
10,10,Bluff,NZ,-46.6000,168.3333,58.80,88,100,9.22,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
693,693,Phalombe,MW,-15.8064,35.6507,68.81,84,16,2.55,few clouds
699,699,Sao Marcos,BR,-28.9711,-51.0681,56.16,64,0,3.80,clear sky
701,701,Mehriz,IR,31.5917,54.4318,52.30,42,37,5.91,scattered clouds
703,703,Marzuq,YE,14.4000,46.4667,62.83,62,12,2.24,few clouds
705,705,Halifax,CA,44.6453,-63.5724,50.22,96,100,28.77,moderate rain

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Pisco,PE,-13.7000,-76.2167,68.05,73,0,19.57,clear sky
6,6,Hobart,AU,-42.8794,147.3294,54.27,66,75,2.30,broken clouds
7,7,Te Anau,NZ,-45.4167,167.7167,60.91,72,100,0.43,overcast clouds
9,9,Mataura,NZ,-46.1927,168.8643,58.48,97,100,0.94,overcast clouds
10,10,Bluff,NZ,-46.6000,168.3333,58.80,88,100,9.22,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
693,693,Phalombe,MW,-15.8064,35.6507,68.81,84,16,2.55,few clouds
699,699,Sao Marcos,BR,-28.9711,-51.0681,56.16,64,0,3.80,clear sky
701,701,Mehriz,IR,31.5917,54.4318,52.30,42,37,5.91,scattered clouds
703,703,Marzuq,YE,14.4000,46.4667,62.83,62,12,2.24,few clouds
705,705,Halifax,CA,44.6453,-63.5724,50.22,96,100,28.77,moderate rain

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [6]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df

           City Country  Max Temp Current Description      Lat       Lng
1         Pisco      PE     68.05           clear sky -13.7000  -76.2167
6        Hobart      AU     54.27       broken clouds -42.8794  147.3294
7       Te Anau      NZ     60.91     overcast clouds -45.4167  167.7167
9       Mataura      NZ     58.48     overcast clouds -46.1927  168.8643
10        Bluff      NZ     58.80     overcast clouds -46.6000  168.3333
..          ...     ...       ...                 ...      ...       ...
693    Phalombe      MW     68.81          few clouds -15.8064   35.6507
699  Sao Marcos      BR     56.16           clear sky -28.9711  -51.0681
701      Mehriz      IR     52.30    scattered clouds  31.5917   54.4318
703      Marzuq      YE     62.83          few clouds  14.4000   46.4667
705     Halifax      CA     50.22       moderate rain  44.6453  -63.5724

[214 rows x 6 columns]

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [7]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Pisco,PE,68.05,clear sky,-13.7000,-76.2167,
6,Hobart,AU,54.27,broken clouds,-42.8794,147.3294,
7,Te Anau,NZ,60.91,overcast clouds,-45.4167,167.7167,
9,Mataura,NZ,58.48,overcast clouds,-46.1927,168.8643,
10,Bluff,NZ,58.80,overcast clouds,-46.6000,168.3333,
...,...,...,...,...,...,...,...
693,Phalombe,MW,68.81,few clouds,-15.8064,35.6507,
699,Sao Marcos,BR,56.16,clear sky,-28.9711,-51.0681,
701,Mehriz,IR,52.30,scattered clouds,31.5917,54.4318,
703,Marzuq,YE,62.83,few clouds,14.4000,46.4667,
705,Halifax,CA,50.22,moderate rain,44.6453,-63.5724,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [8]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [9]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    response = requests.get(base_url, params=params)
    
    hotels = response.json()
    
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# Display sample data
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Pisco,PE,68.05,clear sky,-13.7000,-76.2167,Hotel San Isidro Oficial
6,Hobart,AU,54.27,broken clouds,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania
7,Te Anau,NZ,60.91,overcast clouds,-45.4167,167.7167,Kingsgate Hotel Te Anau
9,Mataura,NZ,58.48,overcast clouds,-46.1927,168.8643,Ellie's Villa
10,Bluff,NZ,58.80,overcast clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
...,...,...,...,...,...,...,...
693,Phalombe,MW,68.81,few clouds,-15.8064,35.6507,RIVONIA
699,Sao Marcos,BR,56.16,clear sky,-28.9711,-51.0681,Hotel São Marcos
701,Mehriz,IR,52.30,scattered clouds,31.5917,54.4318,Mehrgard dwelling/سرای مهرگرد
703,Marzuq,YE,62.83,few clouds,14.4000,46.4667,حيد القفلة
705,Halifax,CA,50.22,moderate rain,44.6453,-63.5724,Hotel Halifax

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [11]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Pisco,PE,68.05,clear sky,-13.7000,-76.2167,Hotel San Isidro Oficial
6,Hobart,AU,54.27,broken clouds,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania
7,Te Anau,NZ,60.91,overcast clouds,-45.4167,167.7167,Kingsgate Hotel Te Anau
9,Mataura,NZ,58.48,overcast clouds,-46.1927,168.8643,Ellie's Villa
10,Bluff,NZ,58.80,overcast clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
...,...,...,...,...,...,...,...
693,Phalombe,MW,68.81,few clouds,-15.8064,35.6507,RIVONIA
699,Sao Marcos,BR,56.16,clear sky,-28.9711,-51.0681,Hotel São Marcos
701,Mehriz,IR,52.30,scattered clouds,31.5917,54.4318,Mehrgard dwelling/سرای مهرگرد
703,Marzuq,YE,62.83,few clouds,14.4000,46.4667,حيد القفلة
705,Halifax,CA,50.22,moderate rain,44.6453,-63.5724,Hotel Halifax

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [12]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [13]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [14]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [15]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Hotel San Isidro Oficial</dd>\n<dt>City</dt><dd>Pisco</dd>\n<dt>Country</dt><dd>PE</dd>\n<dt>Current Weather</dt><dd>clear sky and 68.05 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>St Ives Hobart Accommodation Tasmania</dd>\n<dt>City</dt><dd>Hobart</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>broken clouds and 54.27 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Kingsgate Hotel Te Anau</dd>\n<dt>City</dt><dd>Te Anau</dd>\n<dt>Country</dt><dd>NZ</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 60.91 °F</dd>\n</dl>\n',
 "\n<dl>\n<dt>Hotel Name</dt><dd>Ellie's Villa</dd>\n<dt>City</dt><dd>Mataura</dd>\n<dt>Country</dt><dd>NZ</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 58.48 °F</dd>\n</dl>\n",
 '\n<dl>\n<dt>Hotel Name</dt><dd>Bluff Homestead - Guesthouse & Campervan Park</dd>\n<dt>City</dt><dd>Bluff</dd>\n<dt>Country</dt><dd>NZ</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 58.8 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Gran Hotel Mar del Plata</dd>\n<dt>City</dt><dd>Mar Del Plata</dd>\n<dt>Country</dt><dd>AR</dd>\n<dt>Current Weather</dt><dd>broken clouds and 69.84 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Hain</dd>\n<dt>City</dt><dd>Punta Arenas</dd>\n<dt>Country</dt><dd>CL</dd>\n<dt>Current Weather</dt><dd>broken clouds and 55.51 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Albatross Hotel</dd>\n<dt>City</dt><dd>Ushuaia</dd>\n<dt>Country</dt><dd>AR</dd>\n<dt>Current Weather</dt><dd>broken clouds and 55.06 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Le four à pain</dd>\n<dt>City</dt><dd>Saint-Philippe</dd>\n<dt>Country</dt><dd>RE</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 69.39 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Pazo do Souto</dd>\n<dt>City</dt><dd>Carballo</dd>\n<dt>Country</dt><dd>ES</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 61.02 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [16]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
1  -13.7000  -76.2167
6  -42.8794  147.3294
7  -45.4167  167.7167
9  -46.1927  168.8643
10 -46.6000  168.3333
11 -38.0023  -57.5575
12 -53.1500  -70.9167
15 -54.8000  -68.3000
17 -21.3585   55.7679
18  43.2130   -8.6910

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [18]:
# Add a marker layer for each city to the map. 
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Display the figure containing the map
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))